#wonGame {
    opacity: 0;
    animation: fadeOut 20s;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-image: url('../images/background.jpeg');
    color: #fff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
